body.exercicio{
    grid-template-rows: 120px 60px 1fr 60px;
    grid-template-areas: 
        "cabecalho"
        "navegacao"
        "principal"
        "conteudo"
        "rodape";
}

.navegacao{
    grid-area: navegacao;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #11161a;
}

.navegacao > a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 10px;
    background-color: blue;
    margin-right: 10px;
    border-radius: 7px;
}

.navegacao > a.verde{background-color: #459c4e;}
.navegacao > a.vermelho{background-color: #c72f2f;}

.conteudo{
    text-transform: uppercase;
    font-size: 20px;
}

.conteudo > .titulo{
    font-size: 25px;
    padding-bottom: 10px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 20px;
}