*{
    font-family: 'Poppins';
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 120px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "cabecalho"
        "principal"
        "rodape";
}

.cabecalho{
    grid-area: cabecalho;
    background-color: #171E22;
    color: #ffffff;
    line-height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabecalho > h1{
    margin: 0px;
    font-size: 2.5rem;
}

.cabecalho > h2{
    margin: 0px;
    font-weight: 500;
}

.principal{
    grid-area: principal;
    background-color: #ffffff;
    padding: 20px;
}

.conteudo{
    position: relative;
    height: 100%;
    background-color: #ffffff;
    padding: 20px;
}

.rodape{
    grid-area: rodape;
    background-color: #171E22;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #ffffff;
}

.modulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.modulo{
    flex-basis: 32%;
    margin-bottom: 20px;
    border: 2px solid #171E22;
    border-radius: 7px;
}

.modulo > h3{
    margin: 0px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #171E22;
    font-size: 15px;
    text-transform: uppercase;
    background-color:  #171E22;
}

.modulo > ul{
    margin: 0px;
    padding: 7px;
    list-style: none;
    font-size: 15px;
}

.modulo > ul > li{
    padding: 5px;
    cursor: pointer;
}

.modulo > ul > li > a{
    display: flex;
    text-decoration: none;
    color: #171E22;
}

.modulo > ul > li:hover{
    background-color: #eeeeee
}

.modulo.vermelho{border: 2px solid #c72f2f;}
.modulo.vermelho > h3{background-color: #c72f2f;}

.modulo.rosa{border: 2px solid #c72f6e;}
.modulo.rosa > h3{background-color: #c72f6e;}

.modulo.roxo{border: 2px solid #6c2c8a;}
.modulo.roxo > h3{background-color: #6c2c8a;}

.modulo.azul{border: 2px solid #3277b8;}
.modulo.azul > h3{background-color: #3277b8;}

.modulo.verde{border: 2px solid #459c4e;}
.modulo.verde > h3{background-color: #459c4e;}

.modulo.amarelo{border: 2px solid #d3b833;}
.modulo.amarelo > h3{background-color: #d3b833;}

.modulo.laranja{border: 2px solid #ca7339;}
.modulo.laranja > h3{background-color: #ca7339;}

.modulo.verdeClaro{border: 2px solid #3fa075;}
.modulo.verdeClaro > h3{background-color: #3fa075;}

.modulo.magenta{border: 2px solid #ac4165;}
.modulo.magenta > h3{background-color: #ac4165;}